################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CalculatorConsole/obj
/CalculatorConsole/bin
/.vs
